# ===========================
# DJANGO SETTINGS
# ===========================

DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

# ===========================
# DATABASE SETTINGS (PostgreSQL)
# ===========================
DB_HOST=aws-1-eu-north-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=
DB_PASSWORD=

# ===========================
# SUPABASE SETTINGS
# ===========================
SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=


# ===========================
# AI SERVER SETTINGS
# ===========================
AI_API_URL=



---
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_API_URL=http://127.0.0.1:8000