# Django and Web Server
Django
channels
python-dotenv
djangorestframework
djangorestframework-simplejwt
django-cors-headers
requests

# Database Driver
psycopg2-binary

# Utilities
Pillow

# Token handling
PyJWT

gunicorn